<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd"
	default-lazy-init="true">

	<!-- Activates scanning of @Autowired -->
	<context:annotation-config />

	<!-- Activates scanning of @Service -->
	<context:component-scan base-package="ma.ericsson.granite.cli.service" />

	<bean id="validator" class="ma.ericsson.granite.cli.util.ParserValidator" />

	<bean id="parser" class="ma.ericsson.granite.cli.service.excel.ExcelGUIsParser">
		<property name="context" ref="excelContext" />
		<property name="sheetParser" ref="excelGUISheetParser" />
	</bean>

	<bean id="singleGUIParser" class="ma.ericsson.granite.cli.service.excel.ExcelGUIParser">
		<property name="context" ref="excelContext" />
		<property name="sheetParser" ref="excelSingleGUISheetParser" />
	</bean>

	<bean id="excelContext" class="ma.ericsson.granite.cli.service.excel.ExcelParserContext">
		<property name="data" ref="list" />
	</bean>

	<bean id="excelGUISheetParser" class="ma.ericsson.granite.cli.service.excel.impl.ExcelGUISheetParser">
		<property name="validator" ref="validator" />
		<property name="context" ref="excelContext" />
		<property name="row" value="1" />
		<property name="col" value="0" />
	</bean>

	<bean id="excelSingleGUISheetParser" class="ma.ericsson.granite.cli.service.excel.impl.ExcelSingleGUISheetParser">
		<property name="validator" ref="validator" />
		<property name="context" ref="excelContext" />
		<property name="row" value="0" />
		<property name="col" value="0" />
	</bean>
	
	<util:list id="list" list-class="java.util.ArrayList" scope="prototype" />

	<util:set id="set" set-class="java.util.HashSet" scope="prototype" />

	<util:map id="map" map-class="java.util.HashMap" scope="prototype" />

	<bean id="builder" class="ma.ericsson.granite.cli.service.sql.SqlGUIBuilder">
		<property name="builders" ref="sqlBuilders" />
	</bean>

	<bean id="formBuilder" class="ma.ericsson.granite.cli.service.sql.SqlFormBuilder">
		<property name="builders" ref="sqlFormBuilders" />
	</bean>

	<util:list id="sqlBuilders">
		<ref bean="sqlFormBuilder" />
		<ref bean="sqlFormFieldBuilder" />
		<ref bean="sqlFormButtonBuilder" />
		<!--ref bean="sqlDataGridBuilderBuilder" />
		<ref bean="sqlDataGridFieldBuilder" />
		<ref bean="sqlMenuBuilder" /-->
	</util:list>

	<bean id="sqlFormBuilder" class="ma.ericsson.granite.cli.service.sql.impl.SqlFormBuilder" />

	<bean id="sqlFormFieldBuilder" class="ma.ericsson.granite.cli.service.sql.impl.SqlFormFieldBuilder" />

	<bean id="sqlFormButtonBuilder" class="ma.ericsson.granite.cli.service.sql.impl.SqlFormButtonBuilder" />

	<bean id="singleFormBuilder" class="ma.ericsson.granite.cli.service.sql.SqlFormBuilder">
		<property name="builders" ref="sqlFormBuilders" />
	</bean>

	<util:list id="sqlFormBuilders">
		<ref bean="sqlSingleFormBuilder" />
		<ref bean="sqlSingleFormFieldBuilder" />
		<ref bean="sqlSingleFormButtonBuilder" />
	</util:list>

	<bean id="sqlSingleFormBuilder" class="ma.ericsson.granite.cli.service.sql.impl.SqlSingleFormBuilder" />

	<bean id="sqlSingleFormFieldBuilder" class="ma.ericsson.granite.cli.service.sql.impl.SqlSingleFormFieldBuilder" />

	<bean id="sqlSingleFormButtonBuilder" class="ma.ericsson.granite.cli.service.sql.impl.SqlSingleFormButtonBuilder" />
	
	<!--bean id="sqlDataGridBuilderBuilder" class="ma.ericsson.granite.cli.service.sql.impl.SqlDataGridBuilder" />
	
	<bean id="sqlDataGridFieldBuilder" class="ma.ericsson.granite.cli.service.sql.impl.SqlDataGridFieldBuilder" />
	
	<bean id="sqlMenuBuilder" class="ma.ericsson.granite.cli.service.sql.impl.SqlMenuBuilder" /-->
</beans>
